<h1> this is my devops class </h1>
<h1> this is my os family :  "{{ansible_os_family}}"</h1>
<h1> this is my webserver package name : "{{mywebserveronubuntu}}" </h1>
<h1>  this node private ip is : "{{ansible_all_ipv4_addresses}}"</h1>
<h1> my node art : "{{ansible_architecture}}"</h1>